/* Stage Section */
#stage {
  background-color: #4e89ae;
}

/* Navbar */
.navbar {
  color: white;
  padding: 0;
}

.navbar-brand {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  color: #fff;
}

.stage {
  margin-top: 10%;
}

.moto {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  max-width: 80%;
}

.stage-image {
  max-width: 500px;
}

.download-btn {
  margin-top: 5%;
  background-color: #ed6663;
}

/* Skills Section  */
#skills {
  background-color: #43658b;
}

.skills {
  text-align: center;
  color: white;
  width: 100%;
}

.stories-title {
  margin: 5% 0 2% 0;
}
